*{
    margin: 0;
    padding: 0;
}
body{
    /* background-image: linear-gradient(to bottom, #ff0000, #ff9999);       */
    background: radial-gradient(ellipse at center, #cdb4db 0%, #a2d2ff 100%);
    background-size: 100% 100%;
    background-position: left center;
    animation: gradient-animation 10s linear infinite;
}

#initialPage{
    display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      height: 60%;
      margin: 0;
}

#title{
    line-height: 50px;
    font-family: cursive;
    font-size: 40px;
    text-align: center;
    width: 400px;
    color: #219ebc;
    padding: 25px;
    margin-top: 60px;
    margin-left: 30px;
}

#CompanyName{
    width: 45%;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    margin-top: 150px;
    margin-right: 20px;
}

#phraseGenerator{
    width: 15%;
      height: 40px;
      padding: 10px;
      font-size: 16px;
      text-align: center;
      border-radius: 5px;
      margin-top: 150px;
      margin-left: 20px;
}

/* aqui deve ficar a estilizaçao da div */

/* estilizaçao da div resultado */
#resultado{
  margin-top: 5%;
}


.generatedPhrases{
 background-color: brown;
 border: 1px solid #000;
 padding: 20px;
 width: 35%;
 margin-right: 80%;
 font-size: 20px;
 margin: 15px;
 display: block;
}

.botaoesDaPagina{
  padding: 10px 20px;
  margin: 20px;
  margin-right: 50%;
  margin-top: -60px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  float: right;
}

/* botao de copiar */
/* #copyButton{
  color: beige;
} */

/* botao de deletar */
/* #DeleteButton{
  background-color: crimson;
} */